div#title{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 26pt;
	background-color: #ba8fef;
	color: white;
	text-align: center;
	font-family: bookman;
	font-style: bold;
}
body{
	margin: 0px;
	padding-bottom: 0px;
}
select,input{
	margin-bottom: 10px;
	width: 162px;
	height: 16px;
	border: 1px solid rgb(169, 169, 169);
	padding: 1px;
}

select{
	height: 20px;
	width:166px;
}

div#wrapper{
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
}
input[type="submit"]{
	margin-top:15px;
	height: 20px;
	width: 166px;
}